<form method="post" action="<%- actionForm %>">
    <div class="student-id-number">
        <label for="id_number">Student ID Number</label>
        <input type="text" id="id_number" name="id_number" autocomplete="off" placeholder="e.g. 215014" autofocus>
    </div>
    <div class="fullname">
        <label for="fullname">Full Name</label>
        <input type="text" id="fullname" name="fullname" autocomplete="off">
    </div>
    <div class="major">
        <label for="major">Major/Study Program</label>
        <input type="text" id="major" name="major" autocomplete="off">
    </div>
    <button type="submit">Send</button>
</form>