<%- include('layouts/head') %>
<%- include('layouts/nav') %>

    <section class="container">
        <img src="img/library_students.jpg" alt="library_students">
        <span></span>
        <h1>Let's make do something cool</h1>
        <a href="/majors">Majors</a>
    </section>

<%- include('layouts/foot') %>